<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-slider.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='multi-list.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ace-responsive-menu.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='ace-responsive-menu.js')}}"></script>
    <script src="{{ url_for('static', filename='multi-list.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-slider.js') }}"></script>
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <nav>
        <!-- Menu Toggle btn-->
        <div class="menu-toggle">
            <h3>{% if login_session.username is defined %}{{login_session.username}}{% else %}Guest{% endif %}</h3>
            <button type="button" id="menu-btn">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Responsive Menu Structure-->
        <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
            <li>
                <a href="javascript:;">
                    <span class="title">Edit Records</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                {% if login_session.username is defined %}
                <a href="{{url_for('logout')}}">
                    <span class="title">Logout</span>
                </a>
                {% else %}
                <a href="{{url_for('homePage')}}">
                    <span class="title">Login</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <form action="{{url_for('editRecord', record_date = record_date)}}" method = 'POST'>
        <div>
            <label for="go_to">Go to</label>
            <input type="date" id="go_to" name="goto_date"/>
            <input type='submit' value='Go'>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="box">
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
              {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}

    <h1> Record - {{record_date}}</h1>

    <form action="{{url_for('editRecord', record_date = record_date)}}" method = 'POST'>

    {% for i in metrics %}
    <div class="box">
        <span>{{i.label}}</span>
        <input id="{{i.name}}" name="{{i.name}}" type="text"
            data-provide="slider"
            data-slider-ticks="[{% for num in range(i.max) %}{{num}},{% endfor %}{{i.max}}]"
            data-slider-ticks-labels="[{% for num in range(i.max) %}{{num}},{% endfor %}{{i.max}}]"
            data-slider-min="0"
            data-slider-max="{{i.max}}"
            data-slider-step="1"
            data-slider-value="{{prefill.metrics[i.name]}}"
            data-slider-rangeHighlights='[{ "start": 0, "end": {{prefill.metrics[i.name]}}, "class": "prefill" }]'

        />
    </div>
    {% endfor %}


    <h2>Food</h2>
    <div class="box">

        <span>Feeding window:</span>
        <input id="feeding_window" name="feeding_window" type="text"
            data-provide="slider"
            data-slider-ticks="[0, 3, 6, 9, 12, 15, 18, 21, 24]"
            data-slider-ticks-labels='["0am", "3am", "6am", "9am", "12pm", "3pm", "6pm", "9pm", "12am"]'
            data-slider-min="0"
            data-slider-max="24"
            data-slider-step="1"
            data-slider-range="True"
            data-slider-value="[{{prefill.misc.feeding_window_open}}, {{prefill.misc.feeding_window_close}}]"
            data-slider-rangeHighlights='[{ "start": {{prefill.misc.feeding_window_open}}, "end": {{prefill.misc.feeding_window_close}}, "class": "prefill" }]'
        /><br/>

        <ul id="food_list">
        {% for i in foods %}
            <li value="{{i.name}}">{{i.label}}</li>
        {% endfor %}
        </ul>

    </div>

    {% for i in foods %}
    <div id="{{i.name}}" class="box" {% if prefill.foods[i.name] is not defined %}style="display: none"{% endif %}>
        <span>{{i.label}} (1 unit = {{i.standard_portion}}g)</span>
        <input name="{{i.name}}"
        data-provide="slider"
        data-slider-ticks="[{% for num in range(i.max_portions) %}{{num * i.standard_portion}},{% endfor %}{{i.max_portions * i.standard_portion}}]"
        data-slider-ticks-labels='[{% for num in range(i.max_portions) %}{{num}},{% endfor %}{{i.max_portions}}]'
        data-slider-min="0"
        data-slider-max="{{i.max_portions * i.standard_portion}}"
        data-slider-step="5"
        data-slider-ticks-snap-bounds="{{i.standard_portion / 10}}"
        data-slider-value="{{prefill.foods[i.name]}}"
        data-slider-rangeHighlights='[{ "start": 0, "end": {{prefill.foods[i.name]}}, "class": "prefill" }]'
        />
    </div>
    {% endfor %}

    <div class="box">
        <span>Calories:</span>
        <input type="checkbox" id="calories_manual" name="calories_manual" value="True">Enter calories manually<br>
        <input id="calories" name="calories" type="text"
            data-provide="slider"
            data-slider-ticks="[0, 1000, 2000, 3000, 4000, 5000]"
            data-slider-ticks-labels='["0", "1000", "2000", "3000", "4000", "5000"]'
            data-slider-min="0"
            data-slider-max="5000"
            data-slider-step="50"
            data-slider-value="{{prefill.misc.calories}}"
            data-slider-enabled="false"
            data-slider-rangeHighlights='[{ "start": 0, "end": {{prefill.misc.calories}}, "class": "prefill" }]'
        />
    </div>

     <!--                        SUPPLEMENTS                           -->

    <h2>Supplement stack:</h2>
    <div class="box">

        <ul id="supplement_list">
        {% for i in supplements %}
            <li value="{{i.name}}">{{i.label}}</li>
        {% endfor %}
        </ul>
    </div>

    <div class="box">
        <span>Coffee (Cup / Shot)</span>
        <input name="coffee"
        data-provide="slider"
        data-slider-ticks="[0, 1, 2, 3, 4, 5, 6]"
        data-slider-ticks-labels='["0", "1", "2", "3", "4", "5", "5<"]'
        data-slider-min="0"
        data-slider-max="6"
        data-slider-step="1"
        data-slider-value="{{prefill.misc.coffee}}"
        data-slider-rangeHighlights='[{ "start": 0, "end": {{prefill.misc.coffee}}, "class": "prefill" }]'
        />
    </div>

    {% for i in supplements %}
    <div id="{{i.name}}" class="box" {% if prefill.supplements[i.name] is not defined %} style="display: none" {% endif %}>
        <span>{{i.label}} ({{i.standard_dose}}{{i.dose_unit}})</span>
        <input name="{{i.name}}"
        data-provide="slider"
        data-slider-ticks="[0, 25, 50, 75, 100, 125, 150, 175, 200]"
        data-slider-ticks-labels='["0", "0.25", "0.5", "0.75", "1", "1.25", "1.5", "1.75", "2" ]'
        data-slider-min="0"
        data-slider-max="200"
        data-slider-step="25"
        data-slider-value="{{prefill.supplements[i.name]}}"
        data-slider-rangeHighlights='[{ "start": 0, "end": {{prefill.supplements[i.name]}}, "class": "prefill" }]'
        />
    </div>
    {% endfor %}


        <!--                        ACTIVITY                           -->

    <h2> Activity </h2>
    <div class="box">

        <ul id="activity_list">
        {% for i in activities %}
            <li value="{{i.name}}">{{i.label}}</li>
        {% endfor %}
        </ul>
    </div>

    {% for i in activities %}
    <div id="{{i.name}}" class="box" {% if prefill.activities[i.name] is not defined %} style="display: none" {% endif %}>
        <h3>{{i.label}}</h3>
        <span>Intensity:</span>
        <input id="{{i.name}}_intensity" name="{{i.name}}_intensity" type="text"
            data-provide="slider"
            data-slider-ticks="[{% for num in range(i.max) %}{{num}},{% endfor %}{{i.max}}]"
            data-slider-ticks-labels="[{% for num in range(i.max) %}{{num}},{% endfor %}{{i.max}}]"
            data-slider-min="0"
            data-slider-max="{{i.max}}"
            data-slider-step="{% if i.step is defined %}{{i.step}} {% else %}1{% endif %}"
            {% if prefill.activities[i.name] %}
            data-slider-value="{{prefill.activities[i.name].intensity}}"
            data-slider-rangeHighlights='[{ "start": 0, "end": {{prefill.activities[i.name].intensity}}, "class": "prefill" }]'
            {% else %}
            data-slider-value="0"
            {% endif %}
        />
        <span>Time of Day</span>
        <input id="{{i.name}}_time" name="{{i.name}}_time" type="text"
            data-provide="slider"
            data-slider-ticks="[0, 3, 6, 9, 12, 15, 18, 21, 24]"
            data-slider-ticks-labels='["0am", "3am", "6am", "9am", "12pm", "3pm", "6pm", "9pm", "12am"]'
            data-slider-min="0"
            data-slider-max="24"
            data-slider-step="1"
            {% if prefill.activities[i.name] %}
            data-slider-value="{{prefill.activities[i.name].time}}"
            data-slider-rangeHighlights='[{ "start": 0, "end": {{prefill.activities[i.name].time}}, "class": "prefill" }]'
            {% else %}
            data-slider-value="0"
            {% endif %}
        />
    </div>
    {% endfor %}

    <input type='submit' value='Create'>
    <input type="checkbox" name="save_default" value="True"> Save as user default<br>

    </form>

    <script>
        $("#supplement_list").multiList();

        $('#supplement_list').on('multiList.elementChecked', function(event, value, text) {
          console.log('Checked the element ' + value + ' with text ' + text);
          var elem = $('#' + value)
            elem
              .toggle()
              .find('input')
              .attr("value", elem.attr("data-value"))
              .slider('relayout');
          event.preventDefault();
        });

        $('#supplement_list').on('multiList.elementUnchecked', function(event, value, text) {
          console.log('Unchecked the element ' + value + ' with text ' + text);
          $('#' + value)
              .hide()
              .find('input')
              .attr("value","0")
              .slider('relayout');
          event.preventDefault();
        });


        $("#food_list").multiList();

        $('#food_list').on('multiList.elementChecked', function(event, value, text) {
          console.log('Checked the element ' + value + ' with text ' + text);
          var elem = $('#' + value)
            elem
              .show()
              .find('input')
              .attr("value", elem.attr("data-value"))
              .slider('relayout');
          event.preventDefault();
        });

        $('#food_list').on('multiList.elementUnchecked', function(event, value, text) {
          console.log('Unchecked the element ' + value + ' with text ' + text);
          $('#' + value)
              .toggle()
              .find('input')
              .attr("value","0")
              .slider('relayout');
          event.preventDefault();
        });

        $("#calories_manual").click(function() {
            if(this.checked) {
                $("#calories").slider("enable");
            }
            else {
                $("#calories").slider("disable");
            }
        });


        $("#activity_list").multiList();

        $('#activity_list').on('multiList.elementChecked', function(event, value, text) {
          console.log('Checked the element ' + value + ' with text ' + text);
          var elem = $('#' + value);
          var intensity = $("#" + value + "_intensity");
          var time = $("#" + value + "_time")

          elem.show()
          intensity.attr("value", intensity.attr("data-value"));
          intensity.slider('relayout');
          time.attr("value", time.attr("data-value"));
          time.slider('relayout');

          event.preventDefault();
        });

        $('#activity_list').on('multiList.elementUnchecked', function(event, value, text) {
          console.log('Unchecked the element ' + value + ' with text ' + text);
          $('#' + value)
              .toggle()
              .find('input')
              .attr("value","0")
          event.preventDefault();
        });

        $("#respMenu").aceResponsiveMenu();

    </script>
</body>
</html>
