<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">

	                <a href="{{url_for('editRecord', record_date = 'today')}}">
                    <span class="title">Records</span>
                </a>

	<p>You're logged in as {{ login_session.username }}. And this here graph down yonder is just a placeholder. </p>
	<img src="https://cdn-images-1.medium.com/max/1200/1*iO5NER89kECm8gdfEv23bg.gif">
	<p>Duh </p>
</div>



</body>

</html>
