{% extends "layout.html" %}
{% block title %}Edit Record{% endblock %}
{% block head %}
{{super()}}

<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
{% endblock %}

{% block content %}

<div class="box">

	<a href="{{url_for('editRecord', record_date = 'today')}}">
		<span class="title">Records</span>
	</a>

	<p>You're logged in as {{ login_session.username }}.</p>

	{{ script|safe }}
	{{ div|safe }}


	{{test_data}}
</div>

{% endblock %}