<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-slider.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='multi-list.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ace-responsive-menu.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='ace-responsive-menu.js')}}"></script>
    <script src="{{ url_for('static', filename='multi-list.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-slider.js') }}"></script>
    <meta name="viewport" content="width=device-width">
</head>
<body>

{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="box">
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
              {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>

</body>
</html>